<div class="profile-container">
  <div class="profile-card">
    <!-- Profile Picture Section -->
    <div class="profile-header">
      <div class="profile-image">
        <img src="/assets/images/profile-100.png" alt="Profile Picture" />
      </div>
      <h1>{{ claims.username }}</h1>
      <p class="user-type">{{ claims.type }}</p>
    </div>

    <!-- Profile Details -->
    <div class="profile-details">
      <div class="profile-item">
        <label>User ID:</label>
        <span>{{ claims.userID }}</span>
      </div>
      <div class="profile-item">
        <label>Email:</label>
        <span>{{ claims.email }}</span>
      </div>

    </div>
  </div>
</div>
