<div class="profile-container">


  @if (showback) {
  <a class="back-button" [routerLink]="['/admin/users']">
    ← Back to Users
  </a>
  }
  @if (user) {
  <div class="profile-layout">
    <div class="profile-card">
      <!-- Profile Picture Section -->
      <div class="profile-header">
        <div class="profile-image">
          <img src="/assets/images/profile-100.png" alt="Profile Picture" />
        </div>
        <h1>{{ user.name }}</h1>
        <p class="user-type">{{ user.type }}</p>
      </div>

      <!-- Profile Details -->
      <div class="profile-details">
        <div class="profile-item">
          <label>Email:</label>
          <span>{{ user.email }}</span>
        </div>
        <div class="profile-item">
          <label>Status:</label>
          <span class="profile-status">{{ user.status }}</span>
        </div>
      </div>

      @if (admin && !self) {
      <div class="profile-actions">
        @if (user.status == "deactivated") {
        <button (click)="deactivate(user.id)" class="activate-btn">
          Activate
        </button>
        } @else {
        <button (click)="deactivate(user.id)" class="deactivate-btn">
          Deactivate
        </button>
        }
      </div>
      }

    </div>

    @if (admin || self) {
    <div class="profile-teams-card">
      @if (!self) {
      <h2>Member of Teams:</h2>
      } @else {
      <h2>Your Teams:</h2>
      }
      @if (teams) {
      @if (teams.length > 0) {
      <ul class="team-list">
        @for (team of teams; track team) {
        <li class="team-item">
          <span class="team-name">{{ team.team_name }}</span>
          <span class="team-role">{{ team.role }}</span>
        </li>
        }
      </ul>
      } @else {
        @if (!self) {
          <p class="no-teams">This user is not assigned to any teams.</p>
        } @else {
          <p class="no-teams">You are not assigned to any teams.</p>
        }
      }
      }
    </div>
    }
  </div>
  }

</div>